@font-face {
	font-family: Circular;
    font-weight: 600;
    font-style: normal;
	src: url(fonts/cereal-medium.woff2);
}

@font-face {
	font-family: Circular;
	font-weight: 800;
	font-style: normal;
	src: url(fonts/cereal-bold.woff2);
}

@font-face {
	font-family: Circular;
    font-weight: normal;
    font-style: normal;
	src: url(fonts/cereal-book.woff2);
}

html {
	font-family: Circular;
	width: 100%;
}

h1 {
	font-family: Circular;
	font-size: 1.75rem;
	font-weight: medium;
	color: rgba(0,0,0,0.8);
}

.aboveFoldImg img{
	position: absolute;
	z-index: -1;
	left: -1rem;
	right: -1rem;
	top: -1.25rem;
	bottom: auto;
	max-height: 950px;

}


.logo img{
	float: left;
	margin-left: 1.5rem;
	padding-top: 2rem;
	size: auto;
	color: black;
	z-index: 1;
	max-height: 32px;
	}


.topNavigation {
	display: inline;
	margin-right: 2rem;

}

.topNavigation a {
	font-family: Circular;
	font-weight: 600;
	font-size: 0.85rem;
	letter-spacing: 0.25px;
	color: rgba(242, 242, 242, 0.9);
	text-decoration: none;
	float: right;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-top: 0.75rem;
	margin-right: 0.25rem;
	margin-left: 0.5rem;
}

.topNavigation a:hover {
	border-bottom: 2px solid white;
}

.bookNow {
	font-family: Circular;
	margin-top: 6rem;
	margin-left: 4.5rem;
	border-radius: 5px;
	background-color: white;
	width: 25%;
	padding: 2rem;
	height: 27rem;
	color: rgba(0,0,0,0.75);
}


.bookNow label {
	font-family: Circular;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: rgba(0,0,0,0.75);
}

.bookNow input, select {
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid lightgray;
	font-size: 1rem;
	width: 100%;
	padding: 0.75rem;
}
.bookNow .halfSize {
		display: inline;
}

.bookNow button {
	font-size: 1rem;
	text-decoration: none;
	border-radius: 5px;
	border: none;
	background-color: red;
	color: white;
	float: right;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 1rem;
}

.note {
	color: rgba(242, 242, 242, 0.9);
	font-weight: lighter;
	float: right;
	text-align: right;
	margin-bottom: auto;
}

.mainContent {
	border: 1px solid, black;
	margin-top: 22rem;
	margin-left: 4.5rem;

}

.mainContent h3 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.mainContent .flexArea {
	margin: auto;
	align-items: center;
	height: 85px;
	display: flex;
	flex-direction: row wrap;
	flex-wrap: wrap;
	justify-content: justify;
}

.exploreButton {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	align-items: center;
	margin: auto;
	box-sizing: 30%;
	justify-items: center;

}

.exploreButton img {
	max-height: 85px;
	position: relative;
	margin-bottom: 0;



footer {
	font-family: Circular;
}